.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  background: #FCB849;
}

a {
  color: #000;
  font-size: 18px;
}

h1, .subtitles, ul {
  text-align: center;
}

main {
  background: #FCD595;
  border-radius: 10px;
  font-family: "Gill Sans";
  margin: 0 10px;
  padding: 5px;
}

.filters {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

select {
  font-size: 20px;
}

ul {
  display: block;
  margin: 0px auto;
  padding: 20px;
  list-style: none;
  width: 900px;
  background: #EEE;
  border-radius: 10px;
}

.player {
  float: left;
  width: 300px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.player p {
  margin: 5px auto;
}

.mins, .pts {
  width: 200px;
}
